@charset "utf-8";
* {
    box-sizing: border-box;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.header {
    height: 146px;
}

.slider {
    height: 593px;
    background-color: lightcyan;
}

.articleWrapper {
    width: 960px;
    min-height: 2000px;
    margin-left: auto;
    margin-right: auto;
}
.date {
    width: 226px;
    height: 227px;
    background-color: antiquewhite;
    float: left;
}

.image {
    width: 593px;
    height: 593px;
    float: left;
    background-color: lightgray;
}
.image-sm {
    width: 367px;
    height: 227px;
    float: left;
    background-color: lightgray;
}
.side-sm {
    width: 367px;
    height: 227px;
    
    float: left;
    background-color: aliceblue;
}
.show {
    margin-top: 20px;
    box-sizing: border-box;
    width: 960px;
}
.info {
    width: 367px;
    height: 366px;
    float: left;
    background-color: hotpink;
}
.side {
    width: 367px;
    float: left;
}
.review {
    width: 367px;
    height: 227px;
    float: left;
    background-color: red;
}
