@charset "utf-8";
* {
    box-sizing: border-box;
}
.wrapper {
    width: 1500px;
}
.b1, .b2, .b3 {
    padding: 10px;
    box-sizing: border-box;
    width: 350px;
    float: left;
    margin-left: 50px;
}
.wrapper p {
    padding: 10px;
    line-height: 20px;
    font-size: 20px;
}
.wrapper h2{
    font-family: 'Cardo', sans-serif;
    font-size: 35px;
    letter-spacing: 3px;
}
.b1 {
    font-family: 'Roboto', sans-serif;
    background-color: hotpink;
}
.b1 h1 {
    font-family: 'Popins', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 50px;
}
.b1 a {
    background-color: red;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}
.b2 h1 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 50px;
}
.b2 a {
    background-color: red;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}
.b3 h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 45px;
}
.b3 a {
    background-color: red;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}
.b2 {
    font-family: 'PT Sans', sans-serif;
    background-color: hotpink;
}
.b3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hotpink;
}
.wrapper .b1 h1 {
}
